.settings_visual_help {
    z-index: 11;
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 100dvh;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 50px;
    cursor: default;
    >div {
        cursor: pointer;
        rotate: -90deg;
        transform: translateY(98px) scale(.9);
        transition: transform .2s;
        gap: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--surface-200);
        padding: 5px 10px;
        border-radius: 10px 10px 0 0;
        border: solid 1px var(--surface-300);
        border-bottom: none;
        user-select: none;
    }
    >div:hover {
        background: var(--surface-300);
    }
    >div:active {
        background: var(--surface-300);
    }

    span:not(.icon) {
        text-wrap: nowrap;
        font-family: var(--sans);
    }
}
.settings_visual_help:hover {
    >div {
        transform: translateY(58px);
    }
}

#settings.ov {
    transform: translateX(34vw);
}
#settings {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: calc(100dvh - 40px);
    width: 30vw;
    /* background: var(--surface-100); */
    /* border-left: solid 1px var(--surface-300); */
    border: none;
    scrollbar-color: var(--surface-300) transparent;

    >* {
        transition: transform .3s, opacity .3s;
    }
    >.ov {
        opacity: 0;
        transform: translateX(34vw);
    }
    >.back {
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
        h2 {
            font-family: var(--serif);
            font-weight: normal;
            font-size: 25px;
        }
        span {
            border-radius: 100px;
            font-size: 25px !important;
        }
    }
    >.back:hover {
        span {
            background: var(--surface-300);
        }
    }
    >h2, >h3 {
        font-family: var(--serif);
        font-weight: normal;
        /* margin-bottom: 5px; */
    }
    >p {
        font-family: var(--sans);
        /* margin-bottom: 10px; */
    }

    .list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        background: var(--surface-200);
        border: solid 1px var(--surface-300);
        backdrop-filter: blur(10px);
        border-radius: 100px;
        padding: 5px 5px;
        gap: 3px;
        .icon {
            --size: 17px;
            font-size: var(--size) !important;
            height:    var(--size) !important;
            width:     var(--size) !important;
        }
        :not(.icon) {
            font-family: var(--sans);
            font-size: 14px;
            padding: 0 4px;
        }
    }
    code {
        padding: 2px 3px 3px;
        background: var(--surface-200);
        border: solid 1px var(--surface-300);
        border-radius: 5px;
    }
    input, textarea {
        border-radius: 20px;
        background: var(--surface-200);
        padding: 10px;
        border: solid 1px var(--surface-300);
        outline: none;
        resize: vertical;
        font-family: var(--monospace);
    }
    textarea {
        border-radius: 15px !important;
        height: 100dvh;
        min-height: 180px;
        scrollbar-color: var(--color_text_white) transparent;
        text-wrap-mode: wrap;
        word-wrap: break-word;
        word-break: break-all;
    }
    input::placeholder, textarea::placeholder {
        color: var(--color_text_gray);
    }
    
    .action:hover {
        cursor: pointer;
        background: var(--surface-300) 
    }
    .surface {
        background: var(--surface-200);
        border: solid 1px var(--surface-300);
        backdrop-filter: blur(10px);
        /* padding: 10px; */
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .setting_entry:nth-child(n+2) {
            border-top: solid 1px var(--surface-300);
        }
    }
    .setting_entry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 11px;
        padding-right: 6px;
        cursor: pointer;
        .icon {
            color: var(--color_text_gray);
        }
        :not(.icon) {
            font-family: var(--sans);
        }
    }
    .setting_entry:hover {
        background: var(--surface-200);
    }
}