.settings_visual_help {
    z-index: 11;
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 100dvh;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 50px;
    cursor: default;
    >div {
        cursor: pointer;
        rotate: -90deg;
        transform: translateY(98px) scale(.9);
        transition: transform .2s;
        gap: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--surface-100);
        padding: 5px 10px;
        border-radius: 10px 10px 0 0;
        border: solid 1px var(--surface-300);
        border-bottom: none;
        user-select: none;
    }
    >div:hover {
        background: var(--surface-200);
    }
    >div:active {
        background: var(--surface-300);
    }

    span:not(.icon) {
        text-wrap: nowrap;
        font-family: var(--sans);
    }
}
.settings_visual_help:hover {
    >div {
        transform: translateY(58px);
    }
}

#settingsui {
    z-index: 12;
    position: fixed;
    display: flex;
    left: 5px;
    bottom: 50px;
    background: rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgba(255,255,255,.1);

    h2 {
        font-family: var(--serif);
        font-weight: normal;
    }
    br {
        height: 0px !important;
    }
    h4 {
        margin-top: 10px;
        font-family: var(--sans);
        /* font-weight: normal; */
    }
}